DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
WELCOME_CHANNEL_ID=
EDGE_ROLE_ID=
MOD_LOG_CHANNEL_ID=
AUDIT_LOG_CHANNEL_ID=
RANKS_CHANNEL_ID=
SKIN_LISTINGS_CHANNEL_ID=
DATABASE_URL=postgres://postgres:YOURPASSWORD@vex-db:5432/vertex
DB_PASSWORD=YOURPASSWORD
REDIS_URL=
DATHOST_EMAIL=
DATHOST_PASSWORD=
STEAM_API_KEY=
LEETIFY_API_KEY=
